.pricing-cards {
  margin-bottom: 7.2rem;
  .container {
    .title {
      margin-bottom: 7.2rem;
      color: #36536B;
    }
    .card-wrap {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
    }
  }
}

@media only screen and (max-width: 975px) {
  .pricing-cards {
    .container {
      .title {
        text-align: center;
        margin-bottom: 4.8rem;
      }
    }
  }
}

@media only screen and (max-width: 740px) {
  .pricing-cards {
    .container {
      .card-wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}