.cta {
  border: 0;
  outline: 0;
  padding: 1rem 3rem;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: all 100ms ease-in;
  &.dark-pink {
    background: #ba4270;
    color: #FBFCFE;
    &:hover {
      background: #DA6D97;
    }
  }
  &.white-outline {
    background: none;
    color: #FBFCFE;
    border: 2px solid #FBFCFE;
    &:hover {
      background: #FBFCFE;
      color: #111;
    }
  }
  &.dark-outline {
    background: none;
    color: #36536B;
    border: 2px solid #36536B;
    &:hover {
      background: #36536B;
      color: #ffffff;
    }
  }
}