.img-banner {
  margin: 0 0 10rem 0;;
  .container {
    display: flex;
    align-items: center;
    gap: 10%;
    position: relative;
    .img-banner-circle {
      position: absolute;
      right: -350px;
      top: -150px;
      z-index: -5;
      svg {
        height: 750px;
        width: 750px;
        opacity: .3;
      }
    }
    .side-b {
      margin: 0 0 0 4rem;
      max-width: 445px;
      h2 {
        color: #36536B;
        margin-bottom: 2rem;
      }
    }
  }
}

// For switchSide
.img-banner {
  .container.switch {
    justify-content: space-between;
    .side-a {
      order: 2;
      .img-wrapper {
        margin-right: 0rem;
      }
    }
    .side-b {
      order: 1;
    }
  }
}

@media only screen and (max-width: 975px) {
  .img-banner {
    .container {
      flex-direction: column;
      .side-a {
        margin-bottom: 4.8rem;
        .img-wrapper {
          img {
            display: block;
            height: 75%;
            width: 75%;
            margin: 0 auto;
          }
        }
      }
      .side-b {
        text-align: center;
        margin: 0;
        h2 {
          font-size: 3.6rem;
        }
      }
    }
  }

  // For switchSide
  .img-banner {
    .container.switch {
      .side-a {
        order: 1;
      }
      .side-b {
        order: 2;
      }
    }
  }
}