.navbar {
  position: absolute;
  width: 100%;
  z-index: 10;
  .container {
    padding: 1.6rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .side-a {
      display: flex;
      .logo {
        margin-right: 6rem;
      }
      .main-nav-items {
        display: flex;
        align-items: center;
        li {
          margin-right: 3rem;
          a {
            font-size: 1.5rem;
            opacity: .6;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    .side-b {
      .hamburger-wrap {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .navbar {
    .container {
      .side-a {
        .main-nav-items {
          display: none;
        }
      }
      .side-b {
        .schedule {
          display: none;
        }
        .hamburger-wrap {
          display: block;
          cursor: pointer;
        }
      }
    }
  }
}