.banner-dark {
  padding: 6.4rem 0;
  background: #1B262F;
  margin-bottom: 10rem;
  overflow: hidden;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .banner-dark-circle {
      position: absolute;
      top: -450px;
      left: -250px;
      svg {
        height: 780px;
        width: 780px;
      }
    }
    .side-a {
      max-width: 465px;
      color: #FBFCFE;
      margin-right: 4.8rem;
      z-index: 5;
      h2 {
        margin-bottom: 2.4rem;
      }
      p {
        margin-bottom: 3.2rem;
      }
    }
    .side-b {
      z-index: 5;
      .brands-container {
        max-width: 535px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4rem;
        svg path {
          fill: #fff;
        }
      }
    }
  }
}

@media only screen and (max-width: 975px) {
  .banner-dark {
    .container {
      flex-direction: column;
      .side-a {
        order: 2;
        margin-right: 0;
        text-align: center;
      }
      .side-b {
        order: 1;
        margin-bottom: 6.4rem;
      }
    }
  }
}

@media only screen and (max-width: 630px) {
  .banner-dark {
    .container {
      .side-a {
        h2 {
          font-size: 3.6rem;
        }
      }
      .side-b {
        .brands-container {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}