.banner-dark {
  height: 445px;
  background: #1B262F;
  margin-bottom: 10rem;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .side-a {
      max-width: 465px;
      color: #FBFCFE;
      h2 {
        margin-bottom: 2.4rem;
      }
      p {
        margin-bottom: 3.2rem;
      }
    }
    .side-b {
      .brands-container {
        max-width: 535px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4rem;
        // grid-template-rows: repeat(2, 50px);
        // justify-content: center;
        // align-items: center;
        svg path {
          fill: #fff;
        }
      }
    }
  }
}