.contact-form {
  margin-right: 12.4rem;
  form {
    max-width: 445px;
    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 2.4rem;
      .contact-error {
        color: red;
        font-size: 1.1rem;
        font-style: italic;
        opacity: .8;
      }
      &.checkbox {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .box {
          background: none;
          border: none;
          outline: none;
          margin-right: 2.6rem;
          cursor: pointer;
        }
        label {
          position: relative;
          font-size: 1.5rem;
          line-height: 28px;
          opacity: .6;
          max-width: 395px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &.italic {
            font-style: italic;
          }
        }
      }
      input {
        outline: none;
        background: none;
        border: none;
        border-bottom: 1px solid #36536B;
        font-size: 1.5rem;
        color: #36536B;
        padding: 1.2rem;
        font-style: italic;
        &:placeholder-shown {
          font-size: 1.5rem;
          font-style: italic;
          color: #36536B;
          padding: 1.2rem;
        }
      }
      textarea {
        outline: none;
        background: none;
        border: none;
        border-bottom: 1px solid #36536B;
        overflow: auto;
        font-size: 1.5rem;
        color: #36536B;
        padding: 1.2rem;
        font-style: italic;
        &:placeholder-shown {
          font-size: 1.5rem;
          letter-spacing: -.75px;
          font-style: italic;
          color: #36536B;
          padding: 1.2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1050px) {
  .contact-form {
    margin-right: 0;
    margin-bottom: 6.4rem;
  }
}