footer {
  background: #1B262F;
  height: 100px;
  overflow: hidden;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .footer-circle {
      position: absolute;
      top: 150px;
      right: calc(50% - 390px);
    }
    .side-a {
      display: flex;
      .logo {
        margin-right: 6rem;
        svg path, svg g {
          fill: #FBFCFE;
        }
      }
      ul {
        display: flex;
        align-items: center;
        li {
          margin-right: 3rem;
          a {
            font-size: 1.5rem;
            color: #FBFCFE;
            opacity: .7;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    .side-b {
      .socials {
        svg {
          cursor: pointer;
          transition: transform 70ms ease-in;
          &:active {
            transform: scale(.85);
          }
          &:not(:last-child) {
            margin-right: 2rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 675px) {
  footer {
    height: 100%;
    .container {
      flex-direction: column;
      .side-a {
        flex-direction: column;
        .logo {
          margin: 4rem auto;
        }
        ul {
          flex-direction: column;
          li {
            margin: 0 auto;
            margin-bottom: 3.1rem;
          }
        }
      }
      .side-b {
        .socials {
          margin-bottom: 4rem;
        }
      }
    }
  }
}