.pre-footer {
  margin-bottom: 9.6rem;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      color: #36536B;
    }
  }
}

@media only screen and (max-width: 925px) {
  .pre-footer {
    .container {
      flex-direction: column;
      h2 {
        margin-bottom: 4rem;
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  .pre-footer {
    .container {
      h2 {
        font-size: 3.6rem;
      }
    }
  }
}