.email-signup {
  width: 445px;
  form {
    display: flex;
    position:relative;
    input {
      border: none;
      height: 3.9rem;
      width: 30rem;
      border-radius: 20px;
      padding: 0 4rem 0 2rem;
      outline-color: blue;
      &:placeholder-shown {
        padding: 0 2rem;
        font-weight: 700;
        color: #36536B;
      }
    }
    .btn-wrap {
      position: absolute;
      right: 28px;
    }
  }
}
